<h1>Lista de Pokémon</h1>
<ul>
  @for (pokemon of pokemons; track pokemon.name) {
    <li>
      <h3>{{ pokemon.name }}</h3>
      <p>{{ pokemon.url }}</p>
      <button (click)="handleClick(pokemon)">
        Ver habilidades de {{ pokemon.name }}
      </button>
      
       @if (selectedPokemonId === oPokemonServ.getPokemonIdByURL(pokemon.url)) {
        <h4>Habilidades</h4>
        <ul>
          @for (ability of pokemonAbilities; track $index) {
            <li>{{ ability.ability.name }}</li>
          }
        </ul>
      }




    </li>
  }
  
</ul>
