<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cambino</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/' || activeRoute === '/home'"
                        aria-current="page" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/ejer01'" aria-current="page"
                        href="ejer01">Primer ejercicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/landing'" aria-current="page"
                        href="landing">Página de landing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/saludoenrutado'" aria-current="page"
                        href="saludoenrutado">Saludo enrutado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/rx'" aria-current="page" href="rx">RxJs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Ejercicios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [class.active]="activeRoute === '/ejer01'"
                                href="ejer01">Primero</a></li>
                        <li><a class="dropdown-item" [class.active]="activeRoute === '/landing'"
                                href="landing">Landing</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [class.active]="activeRoute === '/'" href="/">Home</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/post'" aria-current="page" href="post">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/usuario'" aria-current="page" href="usuario">Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="activeRoute === '/pokemon'" aria-current="page"
                        href="pokemon">Lista de Pokemons</a>
                </li>
            </ul>

        </div>
                
    </div>
</nav>